@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --primary: #B9FF66;
    --secondary: #191A23;
    --tertiary: #F3F3F3;
}